.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--primary-color);
  background-color: var(--background-color-secondary);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  aspect-ratio: 1/1;
  flex-grow: 0;
  min-width: 85px;
}

.icon-text {
  color: inherit;
  font-family: var(--font-familyPrincipal);
  font-size: 10px;
  font-weight: 600;
}

.icon {
  color: var(--primary-color);
  stroke: currentColor;
  fill: none;
  flex-shrink: 0;
}
